[*.cs]
dotnet_diagnostic.CS8981.severity = none
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1708.severity = none
dotnet_diagnostic.CA1710.severity = none
dotnet_diagnostic.CA1711.severity = none
dotnet_diagnostic.CA1715.severity = none
dotnet_diagnostic.CA1716.severity = none
dotnet_diagnostic.CA1717.severity = none
dotnet_diagnostic.CA1720.severity = none
dotnet_diagnostic.CA1721.severity = none
dotnet_diagnostic.CA1724.severity = none
dotnet_diagnostic.IDE1006.severity = none
dotnet_diagnostic.InconsistentNaming.severity = none
